{% extends 'layout.html' %}

{% block body %}

<h3>Hakkımda</h3>
<hr>
F1 Racing, 12 Mayıs 2000’de Doğuş Grubu bünyesinde Türkiye’de yayın hayatına başladı. Türkiye'deki tek Formula 1 dergisi olan F1 Racing, F1 temasıyla çıkan dergiler içerisinde dünyanın en çok satan dergisidir. F1 tutkunları, hız ve heyecanın hakim olduğu bu çok özel dünya ile ilgili aradıkları birçok şeyi bu dergide bulabilmektedirler. Tüm takımlar, otomobiller, çok özel fotoğraflar, söyleşiler, yarışların analizleri ve teknik raporlar her ay F1 Racing sayfalarında yer almaktadır.
<hr>
{%endblock body %}